.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  color: white;
}

.App-header {
  background-color: #0553c7;
  display: flex;
  flex: 4;
  height: 4vh;
  min-height: 30px;
  align-items: left;
  justify-content: left;
}

.App-body {
  background-color: #282c34;
  display: flex;
  flex: 96;
  height: 96vh;
}

.App-userinput {
  background-color: white;
  font-size: 14px;
  color: black;
  text-align: left;
  height: 102.5%;
  width: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.App-memory {
  background-color: white;
  height: 102.5%;
  width: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.App-playground {
  background-color: white;
  color: black;
  height: 102.5%;
  width: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.App-memory-memorylines {
  background-color: white;
  height: 102.5%;
  width: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.App-memory-memoryline {
  height: 102.5%;
  width: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.App-memory-memoryline-highlight {
  background-color: rgb(172, 172, 243);
  height: 102.5%;
  width: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.App-memory-memoryline-label {
  color: black;
  text-align: left;
  font-size: 18px;
  width: 100px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  min-height: 20px;
}

.App-memory-memoryline-content {
  height: 102.5%;
  width: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-family: monospace;
}

.App-memory-header {
  background-color: white;
  color: black;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  border-bottom: black solid 1px;
}

.App-memory-header-breakpoint {
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  height: 30px;
  width: 30px;
  resize: none;
  border: none;
  border-right: black solid 1px;
  font-family: monospace;
  display: flex;
}

.App-memory-header-address {
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  height: 30px;
  width: 100px;
  resize: none;
  border: none;
  border-right: black solid 1px;
  font-family: monospace;
}

.App-memory-header-content {
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  height: 30px;
  width: 130px;
  resize: none;
  border: none;
  font-family: monospace;
}

.App-memory-header-instruction {
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  height: 30px;
  width: 150px;
  resize: none;
  border: none;
  font-family: monospace;
  padding-right: 25px;
}

.App-memory-breakpoint {
  color: black;
  text-align: center;
  font-size: 15px;
  width: 30px;
  margin: 0;
  padding: 0;
  border-right: black solid 1px;  
  min-height: 20px;
}

.App-memory-address {
  color: black;
  text-align: center;
  font-size: 15px;
  width: 100px;
  margin: 0;
  padding: 0;
  border-right: black solid 1px;  
  min-height: 20px;
}

.App-memory-content {
  color: black;
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
  width: 130px;
  min-height: 20px;
}

.App-memory-instruction {
  color: gray;
  text-align: left;
  font-size: 15px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  min-width: 150px;
  min-height: 20px;
}

.App-cpustate {
  background-color: white;
  color: black;
  text-align: left;
  overflow-y: auto;
}

.App-cpustate-tabs {
  margin: 0;
  padding: 0;
  font-size: 15px;
  padding-bottom: 1px;
  border-bottom: #aaa solid 2px;
  overflow-y: auto;
}

.Reg {
  font-size: 18px; 
  border-bottom:black solid 1px;
}

.Reg-names {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 18px; 
  min-width: 10%;
  display: inline-block;
  border-right: black solid 1px;
}

.App-terminal {
  background-color: black;
  text-align: left;
  height: 100%;
  width: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.App-terminal-content {
  background-color: black;
  font-size: 14px;
  text-align: left;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
}

.App-terminal-text {
  color: white;
}

.App-terminal-output {
  color: white;
  white-space: pre-line;
}

.App-terminal-warning {
  color: rgb(255, 208, 0);
}

.App-terminal-error {
  color: red;
}

.App-debugger {
  background-color: white;
  color: black;
  text-align: left;
  overflow-y: auto;
}

.App-debugger-content {
  padding-left: 5px;
}

.App-options {
  background-color: white;
  color: black;
  text-align: left;
  overflow-y: auto;
}

.react-tabs {
  height: 100%;
}

.tab-list-reg {
  font-size: 15px;
  padding: 0;
  padding-bottom: 1px;
  margin: 0;
  border-bottom: #aaa solid 1px;
}

.tab-list-input {
  font-size: 19px;
  padding: 0;
  padding-bottom: 1px;
  margin: 0;
  height: 37px;
}

.Button-goto {
  margin-right: 200px;
  height: 25px;
}

.playground-header {
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-bottom: black solid 1px;
}

.playground-div {
  padding-bottom: 10px;
  padding-left: 10px
}

.playground-sub-div {
  padding-bottom: 2px;
}

.playground-operands {
  min-width: 50px;
  padding-right: 25px;
  display: flex;
}

.MuiButtonBase-root {
  margin-right: 2px !important;
}

.example-select {
  background-color: white;
  height: 25px;
  margin: 2.5px;
  margin-left: 10px;
}

/* https://stackoverflow.com/questions/29617200/how-to-make-checkboxes-rounded/41941208 */
.checkbox-round {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
  margin:0
}

.checkbox-round:checked {
  opacity: 100;
  background-color: red;
}