.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  color: white;
}

.App-header {
  background-color: #0553c7;
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
}

.App-body {
  background-color: #282c34;
  display: flex;
  flex: 95;
}

.App-userinput {
  background-color: white;
  color: black;
  text-align: left;
  height: 102.5%;
  width: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
}

.App-cpustate {
  background-color: white;
  color: black;
  text-align: left;
  overflow-y: auto;
}

.App-cpustate-tabs {
  margin: 0;
  padding: 0;
  font-size: 15px;
  padding-bottom: 1px;
  border-bottom: #aaa solid 2px;
  overflow-y: auto;
}

.Reg {
  font-size: 18px; 
  border-bottom:black solid 1px;
}

.Reg-names {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 18px; 
  min-width: 10%;
  display: inline-block;
  border-right: black solid 1px;
}

.App-terminal {
  background-color: black;
  text-align: left;
  height: 100%;
  width: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.App-terminal-content {
  background-color: black;
  font-size: 15px;
  text-align: left;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
}

.App-terminal-text {
  color: white;
}

.App-terminal-warning {
  color: rgb(255, 208, 0);
}

.App-terminal-error {
  color: red;
}

.App-debugger {
  background-color: white;
  color: black;
  text-align: left;
  overflow-y: auto;
}

.App-options {
  background-color: white;
  color: black;
  text-align: left;
  overflow-y: auto;
}

.react-tabs {
  height: 100%;
}

.react-tabs__tab-panel {
  height: 92%;
}

.tab-list-reg {
  font-size: 15px;
  padding: 0;
  padding-bottom: 1px;
  margin: 0;
  border-bottom: #aaa solid 1px;
}

.tab-list-input {
  font-size: 19px;
  padding: 0;
  padding-bottom: 1px;
  margin: 0;
}