.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  color: white;
}

.App-header {
  background-color: #0553c7;
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
}

.App-body {
  background-color: #282c34;
  display: flex;
  flex: 95;
}

.App-textbox {
  background-color: white;
  color: black;
  text-align: left;
}

.App-cpustate {
  background-color: white;
  color: black;
  text-align: left;
}

.App-terminal {
  background-color: black;
  color: white;
  text-align: left;
}

.App-debugger {
  background-color: white;
  color: black;
  text-align: left;
}

.App-options {
  background-color: white;
  color: black;
  text-align: left;
}